* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

h1 {
  font-size: 52px;
  color: #122d7d;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: #323030;
}

.title {
  font-weight: 500;
}

.header {
  margin-bottom: 20px;
}
.section {
  width: 100%;
  padding-bottom: 20px;
  border-top: 1px solid #122d7d;
  padding-top: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.resume {
  border: 1px solid #122d7d;
  padding: 40px 40px;
}

a {
  color: #142c7c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}

.list {
  list-style: disc;
  margin-left: 30px;
}

h4 {
  margin-bottom: 2px;
}

.language {
  margin-top: 4px;
}
